body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.Box { 
    border: 5px solid lightgreen;
    border-radius: 9px;
    margin: 25px;
    margin-top: 5px;
    margin-left: 75px;
    padding: 10px;
    width: 40%;
    text-align: center;
    background-color: hotpink;
    display:inline-block;
}







